# vscode
.vscode

# cache
__pycache__

# logs
logs/
api/app.log
rag_output.txt

# mlflow
mlruns/

# data
data/chroma_backup
data/chroma_persist_dir

# secrets
.env
.streamlit/secrets.toml

# etc
.devcontainer/
TODO.txt